.nav {
    grid-area: n;
    width: 200px;
    margin-right: auto;
    background-color: #81b3d2;
}

.nav__item {
      list-style: none;
      color: #fff;
}

.nav__link{
    color: #fff;
    text-decoration: none;
} 

.nav__link:focus {
    color: red;
}